Flask==0.12.2
Flask-Admin==1.5.1
Flask-BabelEx==0.9.3
Flask-Bootstrap==3.3.7.0
Flask-Cache==0.13.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Moment==0.6.0
Flask-Redis==0.3.0
Flask-Script==2.0.6
Flask-Security==3.0.0
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
flup==1.0.3
oss2==2.4.0
psycopg2==2.7.4
qrcode==6.0
redis==2.10.6
SQLAlchemy==1.2.6
Werkzeug==0.14.1
WTForms==2.1
