{% extends 'base.html' %}
{% import "macros.html" as macros %}
{% block title %}
    简介
{% endblock %}
{% block content %}
<div class="container">
<h1>Hello, {{ username }}!</h1>
<p>{{ redis_ }}, {{ user.gender }}, {{ user['age'] }}</p>
{% if page %}
    <p> {{ page.username }} , {{ page['age'] }}</p>
{% endif %}
    <!-- 传递字典 items()、keys()、values()、iteritems()、iterkeys()、itervalues() -->
{% for k,v in user.items() %}
<p>{{ k }},{{ v }}</p>
{% endfor %}

<!-- 过滤器 -->
<img src="{{ avatar | default(DEFAULT_IMG) }}" alt="" class="img-rounded" >

<!-- 长度 -->
<p>共有用户 {{ user | length }}({{ books | length }}) </p>
<div class="row">
    <div class="col-xs-6">{{ websites.baidu }}</div>
    <div class="col-xs-6">{{ websites.google }}</div>
</div>

<p>综合运用列表和字典的模板文件</p>
<table class="table table-hover">
    <thead>
        <th>书名</th>
        <th>作者</th>
        <th>价格</th>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 移动端页面适配
                                   width【height】:可视化区域的宽【高】度，  
                                   initial-scale 页面首次显示可视区域的级别1.0无缩放
                                   maximum-scale = 1.0 用户可将页面放大的程度，1.0表示禁止用户放大实际尺寸之上
                                   minimum-scale 
                                   user-scalable = yes/no 是否允许用户对页面进行缩放

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html> -->