<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>index</title>
    </head>
    <body>
        <h1>Hello, {{ user.nickname }}!</h1>
    </body>
</html>
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 移动端页面适配
                                   width【height】:可视化区域的宽【高】度，  
                                   initial-scale 页面首次显示可视区域的级别1.0无缩放
                                   maximum-scale = 1.0 用户可将页面放大的程度，1.0表示禁止用户放大实际尺寸之上
                                   minimum-scale 
                                   user-scalable = yes/no 是否允许用户对页面进行缩放

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html> -->